﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    background-image: url("background.jpg");
}

 .navbar.transparent {
     background: #dcdcdc;
     background: rgba(220,220,220,0.7);
 }

.w300 {
     width: 300px !important;
 }

.flickr-image-container {
    width: 500px;
    height: 500px;
    background: #141414;
    background: rgba(20,20,20,0.7);
    margin: 10px;
    padding: 0px;
}

.flickr-image-container img {
     max-width: 500px;
     max-height: 500px;
}

.progress-placeholder {
    margin-top: 50px;
    min-height: 20px;
}

.progress-placeholder .progress {
    margin-bottom: 0;
}