﻿@{
    ViewBag.Title = "Index";
}

<nav class="navbar transparent navbar-default navbar-fixed-top">
    <div class="container">
        <form class="navbar-form">
            <div class="form-group">
                @Html.TextBox("tags", null, new { placeholder = "Type in your search", @class = "form-control w300" })
            </div>
           
            <button type="button" class="btn btn-info pull-right">
                Share...
            </button>
        </form>
    </div>
</nav>

<div class="progress-placeholder">
    <div id="progressBar" class="progress" style="display: none;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
    </div>
</div>

<div id="container" class="container-fluid"></div>

@section scripts
{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
}
